@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body{
    background-color: mediumpurple;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover  ;
}

#titulo{
    font-family: "Balsamiq sans", cursive;
    position: absolute;
    right: 25%;
    padding-top: 3%;
    color: #50e1e1;
    text-align: center;
    transition: 1.5s;
    width: 50%;
}

#titulo:hover{
    transform: scale(1.5);
    padding-top: 2%;
}


/*Barra de navegación*/

nav{
    background-color: orange;
    position: fixed;
    bottom: 1.5%;
    right: 40.8%;
    width: 21%;
    height: 11.5%;
    border-radius: 15px;
    z-index: 1;
}

nav>div{
    position: fixed;
    bottom: 2%;
}

#asgbd{
    right: 42%;
}

#iaw{
    right: 56%;
}

#portfolio{
    right: 49%;
}

nav>div>a>img{
    height: 60px;
    transition: 0.5s;
}

nav>div>a>img:hover{
    height: 80px;
    padding-top: 100px;
}

nav>div>div>div>a>img{
    height: 50px;
}

nav>div>div>div>a>img:hover{
    height: 60px;
}

/*Botón asgbd*/

#contenedorasgbd{
    display: none;
}

#asgbd:hover #contenedorasgbd{
    display: inline;
    position: fixed;
    right: 42%;
    bottom: 16%;
}

/*Boton iaw*/

#contenedoriaw{
    display: none;
    transition: .5s;
}

#iaw:hover #contenedoriaw{
    display: inline;
    position: fixed;
    right: 56%;
    bottom: 16%;
}

nav>div>div>div>div>a>img{
    display: none;
    height: 40px;
    outline: solid black;
}

#proyectosiaw>a>img:hover #proyectosiaw>div>a>img{
    display: inline;
}


/*Sección central*/

main{
    position: absolute;
    top: 20%;
    width: 75%;
    background-color: coral;
    left: 12%;
    height: 100%;
}


/*Sobre mi*/

#sobremi{
    text-align: center;
}

#sobremi p{
    font-family: "Dosis", sans-serif;
    margin-left: 4%;
    margin-right: 4%;
    text-align: left;
    color: white;
}

section>div>h1{
    font-family: "Balsamiq sans", cursive;
    color: white;
}

hr{
    height:3px;
    border: 0;
    background-color: red;
    width: 90%;
}

/*Apartados de informacion personal*/

#tres{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

#tres div{
    width: 30%;
    color: white;
}

#tres div h1{
    text-align: center;
}

#tres div p{
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Dosis", sans-serif;
}

#logros{
    padding: 0 1% 0 1%;
    border-right: solid red;
    border-left: solid red;
}

#objetivos{
    padding-left: 1%;
}

#fortalezas{
    padding-right: 1%;
}