body{
    background-color: lightgrey;
    margin: 0;
    height: 100%;
}

#titulo{
    padding-top: 15%;
    color: forestgreen;
    text-align: center;
    margin-left: 37%;
    width:25%;
    transition: 3s;
}

#titulo:hover{
    transform: scale(1.5);
}

nav{
    position: fixed;
    bottom: 2%;
    right: 30%;
    width: 30%;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    list-style-type: none;
    padding-left: 4%;
    padding-right: 4%;
}

ul li a img{
    height: 60px;
    transition: 1s;
}

ul li a img:hover{
    height: 80px;
}