body{
    background-color: lightgrey;
    margin: 0;
    height: 100%;
}

#titulo{
    padding-top: 15%;
    color: forestgreen;
    text-align: center;
    margin-left: 37%;
    width:25%;
    transition: 3s;
}

#titulo:hover{
    transform: scale(1.5);
}

nav{
    position: fixed;
    bottom: 2%;
    right: 44%;
    background-color: lightblue;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    list-style-type: none;
}