body{
    background-color: lightgrey;
    padding-top: 15%;
    margin: 0;
}

div{
    margin: 0;
}

h1{
    color: forestgreen;
    text-align: center;
    margin-left: 37%;
    width:25%;
    transition: 5s;
}

h1:hover{
    transform: scale(2);
}

{

}

